<body>
    <div class="btn- fixed-bottom fixed-right" style="margin-left: 1%; margin-bottom: 10px;">
        <button type="button" class="btn btn-primary rounded-circle dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
        <div class="dropdown-menu">
            <a class="btn btn-success rounded-circle m-1" (click)="openModal(template)"><i class="fas fa-plus"></i></a>
            <a class="btn btn-warning rounded-circle m-1" ng-click="modalInforme()"><i class="fas fa-chart-bar"></i></a>
            <a class="btn btn-secondary rounded-circle m-1" data-toggle="modal" data-target="#modalVer"><i class="fas fa-eye"></i></a>
        </div>
    </div>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is a modal.
      </div>
    </ng-template>

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-12 col-md-2">
              <input type="text" class="form-control" ng-model="search" placeholder="Buscar palabra...">
            </div>
            <div class="col-12 col-md-2 text-center">
                <select class="form-control" name="empresa" id="empresa_filtro">
                  <option value="0">EMPRESAS (Todas)</option>
                </select>
            </div>
            <div class="col-12 col-md-2 text-center">
                <select class="form-control" name="tipo" id="tipo_filtro">
                  <option value="0">TIPO (Todos)</option>
                </select>
            </div>
            <div class="col-12 col-md-2 text-center">
                <select class="form-control" name="estado" id="estado_filtro">
                  <option value="0">ESTADO (Todos)</option>
                </select>
            </div>
            <div class="col-12 col-md-1 text-center">
                <button class="btn btn-primary rounded-circle"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <table class="table table-bordered " id="tablaListado" ts-wrapper ts-no-data-text="No se encontraron datos">
                <thead class="bg-success text-white">
                  <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Codigo</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Empresa</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Asignado</th>
                    <th class="text-center">Fecha compra</th>
                    <th class="text-center">Fecha Ingreso</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Marca</th>
                    <th class="text-center">Detalles</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (activo of activosData; track $index) {
                  <tr>
                    <td class="text-center"><small>{{activo.id}}</small></td>
                    <td class="text-center"><small>{{activo.cod_int}}</small></td>
                    <td class="text-center"><small>{{activo.nombre_activo}}</small></td>
                    <td class="text-center"><small>{{activo.empresa}}</small></td>
                    <td class="text-center"><small>{{activo.nombre_tipo}}</small></td>
                    <td class="text-center"><small>{{activo.nombre_estado}}</small></td>
                    <td class="text-center"><small>{{activo.asignado}}</small></td>
                    <td class="text-center"><small>{{activo.fecha_compra}}</small></td>
                    <td class="text-center"><small>{{activo.fecha_ingreso}}</small></td>
                    <td class="text-center"><small>{{activo.valor}}</small></td>
                    <td class="text-center"><small>{{activo.marca}}</small></td>
                    <td class="text-center"><small>{{activo.detalles}}</small></td>
                    <td>
                        <a href="#modalDetalles" style="color: blue;"><i class="fas fa-eye"></i></a>
                      </td>
                      <td>
                        <a href="#modalComment" style="color: green;"><i class="fas fa-comment"></i></a>
                        <span style="color: #08b305; font-weight: bold; font-size: 14px;">{{activo.cantidad_comentarios}}</span>
                      </td>
                      <td>
                        <a href="#modalComment" style="color: red;"><i class="fas fa-trash"></i></a>
                      </td>
                  </tr>
                }
                </tbody>
              </table>
            </div>
            <div class="col-1"></div>
            <div class="col-1"></div>
          </div>
    </div>
</body>


